<!DOCTYPE html>

<!-- 
    An important clue, if you felt like you are stucked, just search on internet ( regardless of what info do you have)

    And hacking is not for everyone .. they say if want to become a hacker, you need to be a born hacker,
    so don't worry if you are struggled in these tasks, this isn't for you .. but you are an expert in other fields (drawing, dancing, reading, etc, etc)
    What matters is that whether you are doing what you like or not .. productively
    thats it

    Wishing you all the best guys .. and thank you for reading <3 
    - barat
 -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Club 2022 | SSIT</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,300&display=swap" rel="stylesheet"> 
</head>
<body>
    <video muted autoplay loop class="bgVideo">
        <source src="{% static 'tasks/media/background.mp4' %}" type="video/mp4">
      </video>
    <div class="container">
        <div style="text-align: center;">
            <h3 class="animate-charcter">Sri Sai Ram Institute of Technology</h3>
        </div>
        <h1 class="infiniteFadein">
            "There are no limits to what you can accomplish, except the limits you place on your own thinking ..."
        </h1>
        <br><br>

        <h2 class="infiniteFadein">
            <span style="color: rgb(255, 0, 128);">Cyber</span> <span style="color: rgb(0, 255, 255);">Club</span> <span style="color: red;">presents </span><span style="color: rgb(0, 255, 128);">Capture The Flag</span>
        </h2>

        <br>

        <h3 style="font-size: 200%; font-weight: bolder;">
            <!-- Innah kadha na nama kita irkka data va oruthan shoot pantu poitan, 
              avan vittutu pona orey adyalam avan username mattu dha ... idha vachu 
              avana nama epdi kandu pudikrom dradhu dha story eh

            - (Done) OSINT (foto kamchu kandu pudikradhu)
            - (Done) CryptoGraphy (encrypted file a decrypt pananum, morse code[Remember from Indian Army Hackathon 21])
            - AwareNess (netla thevalladha info poda koodadhu , andha mari)
            - (Done) Nalla avagala alaya vidanum Xd
            - Career Guidance pathi konjam
            - (Done) edachu 1 oda character ku ASCII value kandu pudika sllalam
            - TryHackMe la irundhu konjam content shoot paniklam https://tryhackme.com/room/sakura use this as ref
            - Memes bout cybersec (anga anga XD)
            - bash/python (Done)
            - (Done) meta info la oru task
            - (Done) lastla ans kandu pudichu adha display pannanum (IMPORTANT !!)

            and i think thats it
            pathuklam 
            jnr la achu yaravadhu urupadiya irkagala papom
            

            
            - (@^&^@) -->


            Bienvenue à l'événement de jeu <span>Capturez le drapeau</span> par les membres de notre groupe du Cyber Club, Sri Sairam Institute of Technology.
            
            <br><br>

            <div style="background-color: rgb(0, 110, 255); opacity: 80%; border: 10px dashed yellow; border-radius: 10px;" class="container">
                <h2 style="color: tomato;">
                    Rules:
                </h2>
                <ul>
                    <li style="color: white">
                        There will be total of 5 tasks which challenge you through some of the hacking methodologies used in real life
                    </li>
                    <li style="color: rgb(200, 255, 0);">
                        This event is an individual event and consists of 3 winners 
                        <table style="margin: 0 auto; color: indigo;">
                            <tr>
                                <td>
                                    Prize 1 
                                </td>
                                <td>
                                    Rs.300/- 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Prize 2 
                                </td>
                                <td>
                                    Rs.200/- 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Prize 3
                                </td>
                                <td>
                                    Rs.100/- 
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li style="color: turquoise;">
                        If you are skilled and brave enough to hack this website, try your best :D 
                        <!-- If you have the guts to hack this website, try your best to crack the c0de :D  -->
                    </li>
                    <li>
                        Send reports after the completion of every task to any of these numbers (otherwise you are Disqualified !)
                        <br> <a href="https://api.whatsapp.com/send/?phone=919791094659&text&app_absent=0" target="_blank" rel="noopener noreferrer" style="color: gold;">Number 1 - +91 97910 94659</a>
                        <br> <a href="https://api.whatsapp.com/send/?phone=918778095727&text&app_absent=0" target="_blank" rel="noopener noreferrer" style="color: rgb(0, 209, 199);">Number 2 - +91 87780 95727</a> <br>
                    </li>
                    <li>
                        Last but not least if you got stuck on ANY TASK just search on Internet first (even if its makes no sense to search it on internet) !!! 
                    </li>
                </ul>
            </div>

            <br><br>

            <span style="color: cyan;">BackStory:</span> <br><br>

            <span style="color: blueviolet;">

                Жила-была организация под названием DeathBed, которая совершала разные зверства над невинными...                
                <br>
                Ο ρόλος αυτής της οργάνωσης είναι να παίζει με το μυαλό των ανθρώπων και χρησιμοποιώντας τους να κάνει κάποιου είδους παράνομη δραστηριότητα                
                <br>
                Sie haben <a href="warmup.html" target="_blank" rel="noopener noreferrer" style="color: blueviolet; text-decoration: none;">einige Fußspuren hinterlassen</a>, Ihr Ziel ist es, die Menschen hinter ihnen zu finden und ihren nächsten Plan zu finden
            </span>

        </h3>
        <br><br>
        
        <div class="content">
            <h2 class="text_shadows text3d">
                    Are You Ready ? Let's Hunt Down who's responsible !!!
            </h2>
        </div>

    </div>


    <br><br>

    <footer style="background-color: #0f0; color: #000; font-size: 20px; opacity: 0.7;">
        This website was done by 
        <a href="http://instagram.com/thewachdog" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: #f00; font-weight: 900;">
            Bharath V
        </a>
        and 
        <a href="http://instagram.com/darkness_.over._ruled" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: hotpink; font-weight: 900;">
            Hareash S 
        </a>
    </footer>











</body>
</html>