<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Club - 2022</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
</head>
<body>
    <video autoplay muted loop class="bgVideo">
        <source src="{% static 'tasks/media/background.mp4' %}" type="video/mp4">
      </video>
    <div class="container">
        <div style="text-align: center;">
            <h3 class="animate-charcter">Cyber Club, Sri Sairam Institutions</h3>
        </div>
        <h1 class="infiniteFadein">
            "There are no limits to what you can accomplish, except the limits you place on your own thinking ..."
        </h1>
        <br><br>

        <h2 class="infiniteFadein">
            <span style="color: rgb(255, 0, 128);">Cyber</span> <span style="color: rgb(0, 255, 255);">Club</span> <span style="color: red;">presents </span><span style="color: rgb(0, 255, 128);">Capture The Flag</span>
        </h2>

        <br>

        <h3 style="font-size: 200%; font-weight: bolder;">
            <!-- Innah kadha na nama kita irkka data va oruthan shoot pantu poitan, 
              avan vittutu pona orey adyalam avan username mattu dha ... idha vachu 
              avana nama epdi kandu pudikrom dradhu dha story eh

            - (Done) OSINT (foto kamchu kandu pudikradhu)
            - (Done) CryptoGraphy (encrypted file a decrypt pananum, morse code[Remember from Indian Army Hackathon 21])
            - AwareNess (netla thevalladha info poda koodadhu , andha mari)
            - (Done) Nalla avagala alaya vidanum Xd
            - Career Guidance pathi konjam
            - (Done) edachu 1 oda character ku ASCII value kandu pudika sllalam
            - TryHackMe la irundhu konjam content shoot paniklam https://tryhackme.com/room/sakura use this as ref
            - Memes bout cybersec (anga anga XD)
            - bash/python (Done)
            - (Done) meta info la oru task
            - (Done) lastla ans kandu pudichu adha display pannanum (IMPORTANT !!)

            and i think thats it
            pathuklam 
            jnr la achu yaravadhu urupadiya irkagala papom
            

            
            - (@^&^@) -->


            Bienvenue à l'événement d'aujourd'hui organisé par les membres de notre groupe parrainé par Cyber Club, Sri Sairam Institutions.
            <br><br>
            <span style="color: cyan;">BackStory:</span> <br><br>

            <span style="color: blueviolet;">

            Когда-то существовала организация DeathBed, которая творила разные злодеяния с невиновными ... <br>
            Ο ρόλος αυτής της οργάνωσης είναι να παίζει με το μυαλό των ανθρώπων και να τους κάνει να τρελαίνονται. <br>
            Sie haben <a href="task1.html" target="_blank" rel="noopener noreferrer" style="color: blueviolet; text-decoration: none;">einige Fußspuren hinterlassen</a>, Ihr Ziel ist es, die Menschen hinter ihnen zu finden und ihren nächsten Schritt zu finden.
            </span>

        </h3>
        <br><br>

        <h1>
            Rules:
        </h1>
        <ul style="font-size: 200%;">
            <li>
                totally 5 tasks... 
            </li>
            <li>
                there will be only one winner 
            </li>
            <li>
                If you have the guts to hack this website, try your best to crack the c0de :D 
            </li>
            <li>
                Send reports after completion to this number +91 97910 94659 or +91 87780 95727
            </li>
        </ul>
        
        <div class="content">
            <h2 class="text_shadows text3d">
                    Are You Ready ? Let's Hunt Down who's responsible !!!
            </h2>
        </div>

    </div>












</body>
</html>