<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Club - 2022</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,300&family=Rock+Salt&display=swap" rel="stylesheet"> 
</head>
<body>
    <video autoplay muted loop class="bgVideo">
        <source src="{% static 'tasks/media/background.mp4' %}" type="video/mp4">
      </video>
    <div class="container">
        <div style="text-align: center; padding: 6%;">
            <h1 class="animate-charcter">Sri Sairam Institute of Technology</h1>
        </div>
    </div>

    <h1 style="font-family: 'Rock Salt', cursive; line-height: 25%;">
        CREATE EXPLORE LEARN SPYWATCH Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eaque dolore incidunt quidem rem perspiciatis sequi dolor officia voluptatem, corrupti nemo voluptate culpa ratione error optio? Delectus cupiditate possimus laboriosam.
        Aperiam dolorem itaque in, atque, velit, quibusdam corrupti asperiores laboriosam magnam quasi necessitatibus maiores nisi qui quaerat vel iure cum ipsam porro reprehenderit fuga a. Necessitatibus dolore earum incidunt dicta.
        Eos sunt modi fugit nulla ea repellat quaerat architecto nihil, commodi mollitia ipsam, inventore molestiae ratione enim! Ducimus, quaerat optio! Veniam consequatur facilis, non molestiae quas aut voluptates laudantium at!
        Eius, iste! A possimus vel cum officiis nam eaque architecto placeat quo dignissimos itaque excepturi molestias est deleniti exercitationem molestiae, harum laudantium ipsa quasi distinctio ratione eligendi voluptate? Magni, iste.
        Veniam minus recusandae amet quia dolore, dignissimos itaque perferendis aperiam cum? Nulla at eius, harum perspiciatis eveniet nihil accusamus quas eligendi? Ipsum nihil dolores dolorem quibusdam reiciendis dolorum odio nostrum.
        Corrupti, obcaecati, aliquid optio quo quos esse facere explicabo tenetur nostrum tempora officiis pariatur, ducimus illum modi vero eaque vitae velit fuga deleniti itaque consectetur. Officiis repellat doloribus perferendis velit.
        Laudantium earum numquam, iste enim blanditiis error explicabo non magnam sit saepe nesciunt repellat mollitia laboriosam facere, sapiente quae ullam. Quos nihil earum aut quam numquam magnam debitis explicabo consectetur!
        Perferendis quae voluptates id impedit quis omnis iure laudantium excepturi? Tenetur accusamus soluta quo, dolores autem, iure odio illo architecto corporis ratione laborum temporibus. Fugiat excepturi cupiditate omnis assumenda aliquid!
        Qui quisquam aut libero. In, quibusdam alias praesentium enim illo molestiae mollitia corrupti dicta fugit libero quia quisquam veritatis commodi modi quas ipsum repudiandae. Praesentium quam fugit nihil eligendi nemo!
        Accusantium assumenda voluptatum illo laborum ipsum et obcaecati odit dolorem corrupti molestiae tempore dignissimos aut cupiditate fuga, voluptate dicta illum? Perspiciatis quo rerum illo ipsum commodi quos officia aspernatur iusto.
        Molestiae quis laboriosam, laborum, fugit cupiditate voluptas tempore veritatis commodi et quisquam quos! Ipsa quisquam deserunt facere? Quidem quisquam, voluptatum nesciunt neque aliquid fugiat officia omnis quis necessitatibus soluta dolorum.
        Id, cum rem. Aperiam fugit, praesentium perferendis possimus nihil eveniet dignissimos! Unde assumenda, minus reprehenderit earum laborum, animi totam soluta consequatur et aspernatur, culpa nihil nam odit eos consectetur tempora?
        Illum fugit officia exercitationem possimus! Repudiandae, maxime, nesciunt corporis exercitationem fuga temporibus, vitae eaque cumque repellat illum reprehenderit a veniam ab sapiente enim quae. Quisquam sint explicabo debitis maiores eius!
        Quidem fugiat enim, architecto illum aut veritatis. Amet fugit officiis omnis a perferendis error dolor dolores, voluptate animi doloremque, illo molestias nisi minus praesentium. Voluptatum minus cumque nobis corrupti praesentium.
        Fuga delectus cupiditate sit rerum necessitatibus corporis magni dolorum maxime laudantium perspiciatis fugiat, temporibus porro pariatur eum molestiae quidem ipsum, ab laborum ullam consequatur doloribus minima facere. Dolorem, maiores velit.
        Reprehenderit perferendis in recusandae voluptas velit veniam incidunt hic sit, at aut, dolore est aspernatur consequuntur maiores odio minus blanditiis vitae ab iste eos ducimus porro sunt iure ipsum. Error.
        Ad amet nihil, autem, expedita mollitia quas modi labore sit alias accusantium blanditiis laborum commodi architecto fugit quae quaerat magnam! Officia minus magni impedit iste nisi nesciunt, architecto cupiditate veritatis.
        Quas neque eligendi deserunt assumenda iure illum rerum eos impedit omnis at autem sapiente ratione, in pariatur corrupti sunt nobis? Ratione deleniti, dolor doloremque libero quaerat iusto id perspiciatis tempora!
        Officiis eligendi, accusamus ea distinctio facere excepturi iure cum quas molestiae unde praesentium voluptates illo nam consequatur aspernatur natus laborum quam vitae. Voluptas repellendus culpa temporibus, suscipit expedita quisquam distinctio.
        Corrupti, libero temporibus dolor et veniam impedit perferendis porro dicta vel quas asperiores natus beatae sed excepturi nemo magni fugiat! Optio nesciunt ratione, odit itaque recusandae non ipsum pariatur? Dolore!
    </h1>
    
    <footer style="background-color: #0f0; color: #000; font-size: 20px; opacity: 0.7;">
        This website is done by 
        <a href="http://instagram.com/thewachdog" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: #f00; font-weight: 900;">
            Bharath V
        </a>
        and 
        <a href="http://instagram.com/darkness_.over._ruled" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: hotpink; font-weight: 900;">
            Hareash S 
        </a>
    </footer>


<!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>