<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eazy Peazy | Cyber Club 2022</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,300&display=swap" rel="stylesheet"> 

</head>
<body>
    <video autoplay muted loop class="bgVideo">
        <source src="{% static 'tasks/media/background.mp4' %}" type="video/mp4">
      </video>
    <div class="container">
        <div style="text-align: center; padding: 6%;">
            <h1 class="animate-charcter">Sri Sairam Institute of Technology</h1>
        </div>
    </div>

    <h1 style="color: fuchsia;">
        <u>Eazy Peazy</u>
    </h1>
    <div class="container" style="background-color: rgb(202, 146, 181); border-radius: 10px; opacity: 0.85; font-weight: bolder;">
        <h3>
            <span style="color: rgb(153, 255, 0);">
                In this task a number (either binary or hex values) is hidden in each of the website given below (total 3 binary numbers hidden in 3 websites).
            </span>
            <br>
            <span style="color: rgb(0, 225, 255);">
                Your task is to find all the values, convert it to corresponding ASCII values and rearrange it.
            </span>
            <br>
            <span style="color: yellow;">
                [NOTE: the answer must be in corresponding case , if the character is in uppercase, you MUST submit the value in uppercase, etc]
            </span>
            <br>
            <!-- <span>
                Almost forgot, the length of the Hex value is 2 characters and the length of Bin value is 6 characters (used for this task)
            </span> 
            Nee moodu dda boomer uhhh

            hex values la 0x nu start aagum
            binary values na use panadhu 6 digit dha use pannen .. but naa 0b nnu munadi poda marandhutan :')

            -->

            <ul style="color: rgb(255, 34, 34); font-weight: 1000%;">
                <li>
                    For letter 1: 
                    <a href="sample1.html">
                        D
                    </a>
                </li>
                <li>
                    For letter 2:
                    <a href="sample2.html">
                        0
                    </a>
                </li>
                <li>
                    For letter 3:
                    <a href="sample3.html">
                        t
                    </a>
                </li>
            </ul>

            <form action="QRMania.html" method="post">
                <div class="input-group mb-3">
                    <input type="charValues" class="form-control" placeholder="***" id="answer" name="answer">
        
                    {% csrf_token %}
                    
                    <button class="btn btn-primary" type="submit" id="button-addon2 ansButton">Submit</button>
                </div>
            </form>
        </h3>
        {% if message %}
            <script>alert('{{ message }}');</script>
        {% endif %}
    </div>
    
    <footer style="background-color: #0f0; color: #000; font-size: 20px; opacity: 0.7;">
        This website is done by 
        <a href="http://instagram.com/thewachdog" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: #f00; font-weight: 900;">
            Bharath V
        </a>
        and 
        <a href="http://instagram.com/darkness_.over._ruled" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: hotpink; font-weight: 900;">
            Hareash S 
        </a>
    </footer>


<!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script>
        // for popover
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })

        var popover = new bootstrap.Popover(document.querySelector('.example-popover'), {
        container: 'body'
        })

        var popover = new bootstrap.Popover(document.querySelector('.popover-dismiss'), {
            trigger: 'focus'
        })

    </script>
</html>