@font-face {
    font-family: myfont;
    src: url("media/HACKED.2f48abc8c45d.ttf");
}

body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 64);
    font-family: 'Comic Neue', cursive;
    text-align: center;
    font-weight: bolder;
}


/* header animation starts here 
https://alvarotrigo.com/blog/css-text-animations/

*/
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /*text-fill-color: transparent;*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  
  font-size: 400%;
  font-family: myfont;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* header animation ends here */




/* fade_infinite animation starts here 
https://codepen.io/Ahrengot/pen/DBjKOW
*/

@keyframes fadeIn { 
  from { opacity: 0; } 
}

.infiniteFadein{
  /* position: relative; */
  top: 100px;
  
  /* font: italic bold 5em/1 Bodoni, serif;  */
  color: rgb(202, 202, 202);
  text-align: center;
  
  animation: fadeIn 5s infinite alternate;
}

/* fade_infinite animation ends here */

/* 3d text animation starts here */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #eeff00;
  --color-secondary: #eaf82a;
  --color-tertiary: #f7ff82;
  --color-quaternary: #faffb6;
  --color-quinary: #fdffdf;
  
  /* --color-primary: #5192ED;
  --color-secondary: #69A1F0;
  --color-tertiary: #7EAEF2;
  --color-quaternary: #90BAF5;
  --color-quinary: #A2C4F5; */
  
}

.text3d {
  /* min-height: 100vh; */
  font-family: canada-type-gibson, sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  /* background-color: #eff8e2; */
}

.content {
  display: flex;
  align-content: center;
  justify-content: center;
}

.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 150%;/*calc(2rem + 5vw);*/
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  /* color: transparent; */
  /* background-color: white; */
  /* background-clip: text; */
  animation: shadows 3s ease-in infinite, move 3s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
/* 3d text animation ends here */

/* bg video */
.bgVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

td{
  padding: 10px;
}